.mp-level {
	background: #fff url(../images/geometry.png) repeat 0 0;
}

.mp-menu {
	width: 95%;
	font-family: "brandon-grotesque", Calibri, Arial, sans-serif;
	/*font-family: "raleway", Calibri, Arial, sans-serif;*/
	/*font-family: "futura-pt", Calibri, Arial, sans-serif;*/
}

.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
	padding-left: 95%;
}

.mp-menu ul li a:hover,
.mp-level > ul > li:first-child > a:hover {
/*	background: rgba(231, 76, 60,1);
	color: #fff;*/
	/*background: rgba(255, 255, 255, 0);*/
}

.mp-menu h2 {
	text-transform: uppercase;
	font-size: 1.4em;
	font-weight: 300;
}

.mp-menu ul li > a {
	padding: 0.5em 1em 0.5em .8em;
	box-shadow: none;
	text-shadow: none;
	font-size: 9em;
	font-weight: 100;
	/*font-style: italic;*/
	letter-spacing: -5px;
	color: #4d4e51;
	background-color: #fafafa;
}

.mp-menu ul li > a {
	border-top: 1px solid #dadada;
}

.products,
.writing,
.about {
	-webkit-transition: all .25s ease !important;
	 -moz-transition: all .25s ease !important;
	 -ms-transition: all .25s ease !important;
	 -o-transition: all .25s ease !important;
	 transition: all .25s ease !important;
	 border-left: 2px solid #fafafa;
	 margin-left: -2px;
	 border-bottom-width: 2px;
	 border-bottom-style: solid;
}

.products {
	border-color: #e74c3c;
	border-top: 1px solid #dadada;
}
.products:hover {
	border-left: .1em solid #e74c3c;
}
.writing {
	border-color: #9b59b6;
	border-top: none !important;
}
.writing:hover {
	border-left: .1em solid #9b59b6;
}
.about {
	border-color: #2980b9;
	border-top: none !important;
}
.about:hover {
	border-left: .1em solid #2980b9;
}


.mp-level > ul > li:first-child > a {
	box-shadow: none !important;
}
